    #### population 실습

In [686]:
import pandas as pd
import numpy as np

In [687]:
population_number=pd.read_csv('population_number.csv', encoding='euc-kr',index_col = "도시")
population_number

     지역     2015       2010       2005     2000
도시
서울  수도권  9904312  9631482.0  9762546.0  9853972
부산  경상권  3448737        NaN        NaN  3655437
인천  수도권  2890451  2632035.0        NaN  2466338
대구  경상권  2466052  2431774.0  2456016.0  2473990

In [688]:
# 변수.value_counts()함수
#각각의 값이 나온 횐수를 세어준다.
population_number['2015'].value_counts()

2466052    1
2890451    1
3448737    1
9904312    1
Name: 2015, dtype: int64

In [689]:
#결측지는 세어주지 않는다
population_number['2010'].value_counts()

9631482.0    1
2431774.0    1
2632035.0    1
Name: 2010, dtype: int64

In [690]:
#정렬
#sort_index:인덱스 값을 기준으로 정렬
#sort_values: 데이터 값을 기준으로 정렬

In [691]:
population_number.sort_index()  #오름차순

     지역     2015       2010       2005     2000
도시
대구  경상권  2466052  2431774.0  2456016.0  2473990
부산  경상권  3448737        NaN        NaN  3655437
서울  수도권  9904312  9631482.0  9762546.0  9853972
인천  수도권  2890451  2632035.0        NaN  2466338

In [692]:
population_number.sort_index(ascending=False)  #내림차순

     지역     2015       2010       2005     2000
도시
인천  수도권  2890451  2632035.0        NaN  2466338
서울  수도권  9904312  9631482.0  9762546.0  9853972
부산  경상권  3448737        NaN        NaN  3655437
대구  경상권  2466052  2431774.0  2456016.0  2473990

In [693]:
#오름차순을 기본값으로 한다.
#내림차순으로 변경시>>> ascending=False (기본값은 True)
population_number.sort_index()

     지역     2015       2010       2005     2000
도시
대구  경상권  2466052  2431774.0  2456016.0  2473990
부산  경상권  3448737        NaN        NaN  3655437
서울  수도권  9904312  9631482.0  9762546.0  9853972
인천  수도권  2890451  2632035.0        NaN  2466338

In [694]:
population_number['2010'].sort_values()

도시
대구    2431774.0
인천    2632035.0
서울    9631482.0
부산          NaN
Name: 2010, dtype: float64

In [695]:
#데이터 값을 기준으로 정렬
population_number['2010'].sort_values(ascending=False)

도시
서울    9631482.0
인천    2632035.0
대구    2431774.0
부산          NaN
Name: 2010, dtype: float64

In [696]:
population_number.sort_values(by='2010')

     지역     2015       2010       2005     2000
도시
대구  경상권  2466052  2431774.0  2456016.0  2473990
인천  수도권  2890451  2632035.0        NaN  2466338
서울  수도권  9904312  9631482.0  9762546.0  9853972
부산  경상권  3448737        NaN        NaN  3655437

In [697]:
#여러 기준(컬럼값)을 가지고 정렬할때
population_number.sort_values(by=['지역','2010'])

     지역     2015       2010       2005     2000
도시
대구  경상권  2466052  2431774.0  2456016.0  2473990
부산  경상권  3448737        NaN        NaN  3655437
인천  수도권  2890451  2632035.0        NaN  2466338
서울  수도권  9904312  9631482.0  9762546.0  9853972

#### score 실습

In [698]:
#euc-kr 인코딩타입이다
score=pd.read_csv('score.csv', encoding='euc-kr',index_col='과목')
score

     1반  2반  3반  4반
과목
파이썬  45  44  73  39
DB   76  92  45  69
자바   47  92  45  69
크롤링  92  81  85  40
Web  11  79  47  26

In [699]:
#DataFraneㅇㅔ 함수 적용
#세로방향 데이터들 연산가능
score.sum()

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [700]:
#학급별 등수
score.sum().sort_values()

4반    243
1반    271
3반    295
2반    388
dtype: int64

In [701]:
score.sum().sort_values(ascending=False)

2반    388
3반    295
1반    271
4반    243
dtype: int64

In [702]:
#과목별합계구하기
score.sum(axis=1)

과목
파이썬    201
DB     282
자바     253
크롤링    298
Web    163
dtype: int64

In [703]:
#axis=0이 기본값이기에 설정안해주면 이대로출력
score.sum(axis=0)

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [704]:
#콜론추가하기
score['합계']=score.sum(axis=1)

In [705]:
score

     1반  2반  3반  4반   합계
과목
파이썬  45  44  73  39  201
DB   76  92  45  69  282
자바   47  92  45  69  253
크롤링  92  81  85  40  298
Web  11  79  47  26  163

In [706]:
#1~4반만 더하고싶을때
score.loc[:,'1반':'4반'].sum()

1반    271
2반    388
3반    295
4반    243
dtype: int64

In [707]:
#여러번해도 합계바뀌지 않는다
#값이 계속 수정되는 것을 방지하기 위해 정확히 인덱싱 해온 후 sum()함수 적용
score['합계']=score.loc[:,'1반':'4반'].sum(axis=1)
score

     1반  2반  3반  4반   합계
과목
파이썬  45  44  73  39  201
DB   76  92  45  69  282
자바   47  92  45  69  253
크롤링  92  81  85  40  298
Web  11  79  47  26  163

In [708]:
#평균도 붙여보기
score['평균']=score.mean(axis=1)

In [709]:
score

     1반  2반  3반  4반   합계     평균
과목
파이썬  45  44  73  39  201   80.4
DB   76  92  45  69  282  112.8
자바   47  92  45  69  253  101.2
크롤링  92  81  85  40  298  119.2
Web  11  79  47  26  163   65.2

In [710]:
score.loc[:,'1반':'4반'].mean()

1반    54.2
2반    77.6
3반    59.0
4반    48.6
dtype: float64

In [711]:
score['평균']=score.loc[:,'1반':'4반'].mean(axis=1)
score

     1반  2반  3반  4반   합계     평균
과목
파이썬  45  44  73  39  201  50.25
DB   76  92  45  69  282  70.50
자바   47  92  45  69  253  63.25
크롤링  92  81  85  40  298  74.50
Web  11  79  47  26  163  40.75

In [712]:
#반평균구하기
#새로운 행을 추가할때  df명.loc[]  사용해야함
score.loc['반평균']=score.loc[:,:'4반'].mean()
score

       1반    2반    3반    4반     합계     평균
과목
파이썬  45.0  44.0  73.0  39.0  201.0  50.25
DB   76.0  92.0  45.0  69.0  282.0  70.50
자바   47.0  92.0  45.0  69.0  253.0  63.25
크롤링  92.0  81.0  85.0  40.0  298.0  74.50
Web  11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6    NaN    NaN

In [713]:
#NaN 채워줘야함 나중에 계산안됨 >>> 결측지(NaN) 0으로 채우기
#fillna(원하는 값) - 결측지를 원하는값으로 채워주는 함수
score.fillna(0)

       1반    2반    3반    4반     합계     평균
과목
파이썬  45.0  44.0  73.0  39.0  201.0  50.25
DB   76.0  92.0  45.0  69.0  282.0  70.50
자바   47.0  92.0  45.0  69.0  253.0  63.25
크롤링  92.0  81.0  85.0  40.0  298.0  74.50
Web  11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6    0.0   0.00

In [714]:
#최댓값과 최솟값구하기
#max()와 min()
#axis속성으로 방향설정

score.max()

1반     92.0
2반     92.0
3반     85.0
4반     69.0
합계    298.0
평균     74.5
dtype: float64

In [715]:
#과목별로 보고싶을때 
score.max(axis=1)

과목
파이썬    201.0
DB     282.0
자바     253.0
크롤링    298.0
Web    163.0
반평균     77.6
dtype: float64

In [716]:
score.loc[:'Web',:'4반'].max()

1반    92.0
2반    92.0
3반    85.0
4반    69.0
dtype: float64

In [717]:
score

       1반    2반    3반    4반     합계     평균
과목
파이썬  45.0  44.0  73.0  39.0  201.0  50.25
DB   76.0  92.0  45.0  69.0  282.0  70.50
자바   47.0  92.0  45.0  69.0  253.0  63.25
크롤링  92.0  81.0  85.0  40.0  298.0  74.50
Web  11.0  79.0  47.0  26.0  163.0  40.75
반평균  54.2  77.6  59.0  48.6    NaN    NaN

In [718]:
# 전체 반에서 과목별 가장 낮은 점수만 뽑아오기 -min()
score.loc[:'Web',:'4반'].min(axis=1)

과목
파이썬    39.0
DB     45.0
자바     45.0
크롤링    40.0
Web    11.0
dtype: float64

In [719]:
#과목별 가장 근 값과 작은 값의 차이
maxArr=score.loc[:'Web',:'4반'].max(axis=1)  # 기본은 axis=0 제가 앞에서 다 같이 설명 드릴게요!
maxArr

과목
파이썬    73.0
DB     92.0
자바     92.0
크롤링    92.0
Web    79.0
dtype: float64

In [720]:
minArr=score.loc[:'Web',:'4반'].min(axis=1)  # 드래그 보시면 축 방향 설정이 다르죠?
minArr

과목
파이썬    39.0
DB     45.0
자바     45.0
크롤링    40.0
Web    11.0
dtype: float64

In [721]:
#과목별 가장 큰 값과 작은 값의 차이
maxArr - minArr

과목
파이썬    34.0
DB     47.0
자바     47.0
크롤링    52.0
Web    68.0
dtype: float64

In [722]:
#apply변환
#행이나 열 단위로 더 복잡한 처리르 하고 싶을 때 사용!
#df명.apply(커스텀함수=내가만든함수,axis=?)

In [723]:
#과목별 max점수와 min점수 차이 구하는 함수
def max_min(x):
    return x.max()-x.min()    #시프트엔터하면 함수생성

In [724]:
#과목별 최대최소차이 값 쉽게 구할 수 있다.
score.loc[:'Web', :'4반'].apply(max_min, axis=1)

과목
파이썬    34.0
DB     47.0
자바     47.0
크롤링    52.0
Web    68.0
dtype: float64

In [725]:
data_dic={'A':[1,2,3,4,4],
         'B':[1,2,2,3,3],
         'C':[1,2,4,4,5]}
df3=pd.DataFrame(data_dic)
df3

   A  B  C
0  1  1  1
1  2  2  2
2  3  2  4
3  4  3  4
4  4  3  5

In [726]:
#각각 열에 해당 숫자가 몇게 있는지 빠르게 파악가능
df4=df3.apply(pd.value_counts)
df4

     A    B    C
1  1.0  1.0  1.0
2  1.0  2.0  1.0
3  1.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0

In [727]:
#결측지 0으로 채우기
df4.fillna(0)

     A    B    C
1  1.0  1.0  1.0
2  1.0  2.0  1.0
3  1.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

#### 카테고리화

In [728]:
#케글의 타이타닉-나이범위를 group화 했던것처럼 0~10ㄷ과 10~20

In [729]:
ages=[0,2,10,21,23,37,31,61,20,41,32,100]  #나이  >>0과100은 범위밖이여서 NaN나온것
#카테고리로 변경시 어떻게 구간을 지정할건지
#1~15(미성년자), 16~25(청년), 26~35(중년), 36~60(장년), 61~99(노년)
bins=[0,15,25,35,60,99]  #그에해당하는 구간

labels=['미성년자','청년','중년', '장년','노년']  #구간의 이름
#원하는 구간을 잘라주는 cut() 카테고리화 함수
cats=pd.cut(ages,bins,labels=labels)
cats

[NaN, '미성년자', '미성년자', '청년', '청년', ..., '노년', '청년', '장년', '중년', NaN]
Length: 12
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

In [730]:
#Length라는 범위?갯수

In [731]:
type(cats)

pandas.core.arrays.categorical.Categorical

In [732]:
#카테고리 확인
cats.categories

Index(['미성년자', '청년', '중년', '장년', '노년'], dtype='object')

In [733]:
#카테고리화한 데이터를 보기쉽게 표로 만들어보기
age=pd.DataFrame(ages, columns=['나이'])
age

     나이
0     0
1     2
2    10
3    21
4    23
5    37
6    31
7    61
8    20
9    41
10   32
11  100

In [734]:
age['연령대']=pd.cut(ages,bins,labels=labels)
age

     나이   연령대
0     0   NaN
1     2  미성년자
2    10  미성년자
3    21    청년
4    23    청년
5    37    장년
6    31    중년
7    61    노년
8    20    청년
9    41    장년
10   32    중년
11  100   NaN

### DataFrame 병합
두가지 함수가있음
-concat
-merge

In [735]:
df1=pd.DataFrame({'A':['AO','A1','A2','A3'],
             'B':['B0','B1', 'B2','B3'],
             'C':['C0','C1','C2','C3'],
             'D':['D0','D1','D2','D3']},index=[0,1,2,3])
df1

    A   B   C   D
0  AO  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [736]:
df2=pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},index=[4,5,6,7])
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [737]:
df3=pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},index=[8,9,10,11])
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [738]:
#concat axis=0 방향
result1=pd.concat([df1,df2,df3])
result1

      A    B    C    D
0    AO   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [739]:
#concat axis=1방향
#알수 없는 데이 터는 결측값 반환
result2=pd.concat([df1,df2,df3],axis=1)
result2

      A    B    C    D    A    B    C    D    A    B    C    D
0    AO   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

In [740]:
#keys 속성을 이용해서 df 구분
# 다중 index가 된다.
result=pd.concat([df1,df2,df3],keys=['x','y','z'])
result

        A    B    C    D
x 0    AO   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [741]:
result.index

MultiIndex([('x',  0),
            ('x',  1),
            ('x',  2),
            ('x',  3),
            ('y',  4),
            ('y',  5),
            ('y',  6),
            ('y',  7),
            ('z',  8),
            ('z',  9),
            ('z', 10),
            ('z', 11)],
           )

In [742]:
df4=pd.DataFrame({'B':['B2','B3','B6','B7'],
                 'D':['D2','D3','D6','D7'],
                 'F':['F2','F3','F6','F7']},
                 index=[2,3,6,7])
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [743]:
#axis=0방향으로 병합
pd.concat([df1,df4])

     A   B    C   D    F
0   AO  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [744]:
#axis=1방향으로 병합
pd.concat([df1,df4],axis=1)

     A    B    C    D    B    D    F
0   AO   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [745]:
#공통으로 있는것만 가져오기
#join 속성사용
#inner : 교집합, 합치는 데이터들이 동일하게 가지고 있는 기준만 출력
#outer : 합집합, 기본값
#기본값 join='inner' or 'outer'
pd.concat([df1,df4],axis=1, join='inner')

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [746]:
pd.concat([df1,df4],axis=1, join='outer')

     A    B    C    D    B    D    F
0   AO   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [747]:
pd.concat([df1,df4],axis=0, join='inner')

    B   D
0  B0  D0
1  B1  D1
2  B2  D2
3  B3  D3
2  B2  D2
3  B3  D3
6  B6  D6
7  B7  D7

In [748]:
#인덱스를 무시하고 다시 부여해주세요 
#ignore_index >> 기존에 가지고 잇던 인덱스를 무시하고 새로운 인덱스 번호부여
#ignore_index=True(False 기본값)
pd.concat([df1,df4],ignore_index=True)

     A   B    C   D    F
0   AO  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [749]:
#merge
#공통된 데이터를 기중으로 데이터를 합침

In [750]:
#데이터 생성
df5=pd.DataFrame({'key':['K0','K2','K3','K4'],
                 'A':['A0','A1','A2','A3'],
                 'B':['B0','B1','B2','B3'],})
df5

  key   A   B
0  K0  A0  B0
1  K2  A1  B1
2  K3  A2  B2
3  K4  A3  B3

In [751]:
df6=pd.DataFrame({'key':['K0','K1','K2','K3'],
                  'C':['C0','C1','C2','C3'],
                  'D':['K0','D1','D2','D3'],})
df6

  key   C   D
0  K0  C0  K0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [752]:
#공통된 컬럼('key')를 기준으로 합쳐준다
pd.merge(df5,df6,on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  K0
1  K2  A1  B1  C2  D2
2  K3  A2  B2  C3  D3

In [753]:
#how
#병합의 방식 지정
#concat의 join과 동일한 기능
#outer : 합집합, 전체 값 출력
#inner : 교집합, 공통된 데이터의 값만 출력

In [754]:
#how='inner'가 기본값   concat과는 반대
pd.merge(df5,df6,how='inner')  #공통된것

  key   A   B   C   D
0  K0  A0  B0  C0  K0
1  K2  A1  B1  C2  D2
2  K3  A2  B2  C3  D3

In [755]:
pd.merge(df5,df6,how='outer')

  key    A    B    C    D
0  K0   A0   B0   C0   K0
1  K2   A1   B1   C2   D2
2  K3   A2   B2   C3   D3
3  K4   A3   B3  NaN  NaN
4  K1  NaN  NaN   C1   D1

In [756]:
#how='right', 오른쪽 df를 'key기준으로 출력
pd.merge(df5,df6,how='right')  #df6가 기준

  key    A    B   C   D
0  K0   A0   B0  C0  K0
1  K1  NaN  NaN  C1  D1
2  K2   A1   B1  C2  D2
3  K3   A2   B2  C3  D3

In [757]:
df_merge=pd.merge(df5,df6,how='left') #df5가 기준
df_merge

  key   A   B    C    D
0  K0  A0  B0   C0   K0
1  K2  A1  B1   C2   D2
2  K3  A2  B2   C3   D3
3  K4  A3  B3  NaN  NaN

In [758]:
df_merge.fillna(0)  #NaN  >> 0 채우기

  key   A   B   C   D
0  K0  A0  B0  C0  K0
1  K2  A1  B1  C2  D2
2  K3  A2  B2  C3  D3
3  K4  A3  B3   0   0

In [759]:
a={'고객번호':[1001,1002,1003,1004,1005,1006,1007],
  '이름':['둘리','도우너','또치','길동','희동','마이콜','영희']}
df9=pd.DataFrame(a)
df9

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [760]:
b={'고객번호':[1001,1001,1005,1006,1008,1001],
   '금액':[10000,20000,15000,5000,100000,30000]}
df0=pd.DataFrame(b)
df0

   고객번호      금액
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

In [761]:
pd.concat([df9,df0],axis=1)   #실패

   고객번호   이름    고객번호        금액
0  1001   둘리  1001.0   10000.0
1  1002  도우너  1001.0   20000.0
2  1003   또치  1005.0   15000.0
3  1004   길동  1006.0    5000.0
4  1005   희동  1008.0  100000.0
5  1006  마이콜  1001.0   30000.0
6  1007   영희     NaN       NaN

In [762]:
pd.concat([df9,df0],axis=1,ignore_index=True)   #실패

      0    1       2         3
0  1001   둘리  1001.0   10000.0
1  1002  도우너  1001.0   20000.0
2  1003   또치  1005.0   15000.0
3  1004   길동  1006.0    5000.0
4  1005   희동  1008.0  100000.0
5  1006  마이콜  1001.0   30000.0
6  1007   영희     NaN       NaN

In [763]:
pd.merge(df9,df0,how='right')

   고객번호   이름      금액
0  1001   둘리   10000
1  1001   둘리   20000
2  1001   둘리   30000
3  1005   희동   15000
4  1006  마이콜    5000
5  1008  NaN  100000

In [764]:
pd.merge(df9,df0,how="inner")

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

In [765]:
pd.merge(df9,df0,how='left')

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN

### 범죄 데이터 실습

In [766]:
#데이터불러오기
df2015=pd.read_csv('2015.csv', encoding='euc-kr',index_col='관서명')
df2015

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수  18  44      750  8425   9593
광주지방경찰청계  검거건수  18  47      758  5409   8301
광주지방경찰청계  검거인원  17  66      776  3433  11774
광주지방경찰청계    구속   9  33       42   104     58
광주지방경찰청계   불구속   1  26      511  2781   5618
광주지방경찰청계    기타   7   7      223   548   6098
광주동부경찰서   발생건수   3   5       92  1100   1155
광주동부경찰서   검거건수   4   6       86   583    970
광주동부경찰서   검거인원   4   7       98   447   1483
광주동부경찰서     구속   3   2        8    13     10
광주동부경찰서    불구속   0   4       63   379    703
광주동부경찰서     기타   1   1       27    55    770
광주서부경찰서   발생건수   5  10      172  2050   2483
광주서부경찰서   검거건수   4   8      153  1471   2124
광주서부경찰서   검거인원   4  15      167   876   3080
광주서부경찰서     구속   3  10        7    27     19
광주서부경찰서    불구속   0   5       91   665   1366
광주서부경찰서     기타   1   0       69   184   1695
광주남부경찰서   발생건수   1   3       70   962   1081
광주남부경찰서   검거건수   1   3       53   506    941
광주남부경찰서   검거인원   1   3       52   418   1260
광주남부경찰서     구속   0   3        3    19      3
광주남부경찰서    불구속   1   0       39   325    675
광주남부경찰서     기타   0   0       10    74    582
광주북부경찰서   발생건수   5  14      256  2570   2621
광주북부경찰서   검거건수   5  18      212  1852   2319
광주북부경찰서   검거인원   5  28      216   948   3168
광주북부경찰서     구속   3  11       11    30     10
광주북부경찰서    불구속   0  12      153   770   1544
광주북부경찰서     기타   2   5       52   148   1614
광주광산경찰서   발생건수   4  12      160  1743   2253
광주광산경찰서   검거건수   4  10      135   996   1922
광주광산경찰서   검거인원   3   8      129   736   2585
광주광산경찰서     구속   0   4        5    12      6
광주광산경찰서    불구속   0   4       81   639   1181
광주광산경찰서     기타   3   0       43    85   1398

In [767]:
df2016=pd.read_csv('2016.csv', encoding='euc-kr',index_col='관서명')
df2016

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수  17  47      701  6052   8599
광주지방경찰청계  검거건수  18  47      713  4242   7631
광주지방경찰청계  검거인원  21  54      758  3455  10747
광주지방경찰청계    구속  14  25       37   132     57
광주지방경찰청계   불구속   3  25      491  2862   5267
광주지방경찰청계    기타   4   4      230   461   5423
광주동부경찰서   발생건수   3   8       83   832   1142
광주동부경찰서   검거건수   3   7       70   679   1002
광주동부경찰서   검거인원   4  10       71   543   1497
광주동부경찰서     구속   2   2        3    17      7
광주동부경찰서    불구속   0   7       50   460    773
광주동부경찰서     기타   2   1       18    66    717
광주서부경찰서   발생건수   2  11      174  1417   2288
광주서부경찰서   검거건수   3  11      158   963   1994
광주서부경찰서   검거인원   3  13      169   894   2874
광주서부경찰서     구속   3   6        7    22     18
광주서부경찰서    불구속   0   4       92   749   1301
광주서부경찰서     기타   0   3       70   123   1555
광주남부경찰서   발생건수   1   4       64   768   1028
광주남부경찰서   검거건수   1   4       54   544    883
광주남부경찰서   검거인원   1   5       55   348   1198
광주남부경찰서     구속   1   4        2    12      2
광주남부경찰서    불구속   0   1       38   264    599
광주남부경찰서     기타   0   0       15    72    597
광주북부경찰서   발생건수   6   7      205  1788   2142
광주북부경찰서   검거건수   5   8      158  1156   1906
광주북부경찰서   검거인원   6  10      178   933   2700
광주북부경찰서     구속   3   6        1    50     13
광주북부경찰서    불구속   2   4      135   759   1402
광주북부경찰서     기타   1   0       42   124   1285
광주광산경찰서   발생건수   5  17      175  1247   1999
광주광산경찰서   검거건수   5  17      147   898   1798
광주광산경찰서   검거인원   6  16      147   723   2382
광주광산경찰서     구속   4   7       14    31      7
광주광산경찰서    불구속   1   9       85   620   1125
광주광산경찰서     기타   1   0       48    72   1250

In [768]:
df2017=pd.read_csv('2017.csv', encoding='euc-kr',index_col='관서명')
df2017

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주지방경찰청   발생건수   0   0        0     0      0
광주지방경찰청   검거건수   0   1       91     0     37
광주지방경찰청   검거인원   0   1      105     0    149
광주지방경찰청     구속   0   0       17     0      7
광주지방경찰청    불구속   0   1       53     0     69
광주지방경찰청     기타   0   0       35     0     73
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

In [769]:
#범죄현황 데이터로 저년 대비 지역별 범죄 증감율

In [770]:
#경고문 없애주기!
import warnings

In [771]:
warnings.filterwarnings('ignore')

In [772]:
#drop  >> 삭제
df2017.drop('광주지방경찰청')

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

In [773]:
df2017.drop('광주지방경찰청')

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

In [774]:
#drop 했는데 삭제안됨  >> 전치(T)했던거랑 비슷
df2017

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주지방경찰청   발생건수   0   0        0     0      0
광주지방경찰청   검거건수   0   1       91     0     37
광주지방경찰청   검거인원   0   1      105     0    149
광주지방경찰청     구속   0   0       17     0      7
광주지방경찰청    불구속   0   1       53     0     69
광주지방경찰청     기타   0   0       35     0     73
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

In [775]:
#출력된 결과물을 동일 변수명으로 사영하고 싶을 때
#같은 변수명에 다시 감아주기
# inplace=True
#df2017.drop('광주지방경찰청',inplace=True)
df2017.drop('광주지방경찰청',inplace=True)

In [776]:
df2017 # 위의 코드를 다시 df2017에 담아서 모두 날아갔어요!
# inplace=True 라고 지정해주시면'광주지방경찰청' 이 날아간 상태로 그대ㅗㄹ 변수면에 지정 되기 때문에
# 변순에 다시 담아주지 않으셔도 됩니다!

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

In [777]:
#범죄총 횟수 (합계)
#df2016['총계]=df2016.loc[:,'살인':'폭력'],sum(axis=1)
#df2016
#.loc 이용  >>몇번을 실행해도 에러안뜸('총계'칼럼값이 바뀌지 않는다)
df2015['총계']=df2015.sum(axis=1)
df2015

            구분  살인  강도  강간·강제추행    절도     폭력     총계
관서명
광주지방경찰청계  발생건수  18  44      750  8425   9593  18830
광주지방경찰청계  검거건수  18  47      758  5409   8301  14533
광주지방경찰청계  검거인원  17  66      776  3433  11774  16066
광주지방경찰청계    구속   9  33       42   104     58    246
광주지방경찰청계   불구속   1  26      511  2781   5618   8937
광주지방경찰청계    기타   7   7      223   548   6098   6883
광주동부경찰서   발생건수   3   5       92  1100   1155   2355
광주동부경찰서   검거건수   4   6       86   583    970   1649
광주동부경찰서   검거인원   4   7       98   447   1483   2039
광주동부경찰서     구속   3   2        8    13     10     36
광주동부경찰서    불구속   0   4       63   379    703   1149
광주동부경찰서     기타   1   1       27    55    770    854
광주서부경찰서   발생건수   5  10      172  2050   2483   4720
광주서부경찰서   검거건수   4   8      153  1471   2124   3760
광주서부경찰서   검거인원   4  15      167   876   3080   4142
광주서부경찰서     구속   3  10        7    27     19     66
광주서부경찰서    불구속   0   5       91   665   1366   2127
광주서부경찰서     기타   1   0       69   184   1695   1949
광주남부경찰서   발생건수   1   3       70   962   1081   2117
광주남부경찰서   검거건수   1   3       53   506    941   1504
광주남부경찰서   검거인원   1   3       52   418   1260   1734
광주남부경찰서     구속   0   3        3    19      3     28
광주남부경찰서    불구속   1   0       39   325    675   1040
광주남부경찰서     기타   0   0       10    74    582    666
광주북부경찰서   발생건수   5  14      256  2570   2621   5466
광주북부경찰서   검거건수   5  18      212  1852   2319   4406
광주북부경찰서   검거인원   5  28      216   948   3168   4365
광주북부경찰서     구속   3  11       11    30     10     65
광주북부경찰서    불구속   0  12      153   770   1544   2479
광주북부경찰서     기타   2   5       52   148   1614   1821
광주광산경찰서   발생건수   4  12      160  1743   2253   4172
광주광산경찰서   검거건수   4  10      135   996   1922   3067
광주광산경찰서   검거인원   3   8      129   736   2585   3461
광주광산경찰서     구속   0   4        5    12      6     27
광주광산경찰서    불구속   0   4       81   639   1181   1905
광주광산경찰서     기타   3   0       43    85   1398   1529

In [778]:
df2016['총계']=df2016.sum(axis=1)
df2016

            구분  살인  강도  강간·강제추행    절도     폭력     총계
관서명
광주지방경찰청계  발생건수  17  47      701  6052   8599  15416
광주지방경찰청계  검거건수  18  47      713  4242   7631  12651
광주지방경찰청계  검거인원  21  54      758  3455  10747  15035
광주지방경찰청계    구속  14  25       37   132     57    265
광주지방경찰청계   불구속   3  25      491  2862   5267   8648
광주지방경찰청계    기타   4   4      230   461   5423   6122
광주동부경찰서   발생건수   3   8       83   832   1142   2068
광주동부경찰서   검거건수   3   7       70   679   1002   1761
광주동부경찰서   검거인원   4  10       71   543   1497   2125
광주동부경찰서     구속   2   2        3    17      7     31
광주동부경찰서    불구속   0   7       50   460    773   1290
광주동부경찰서     기타   2   1       18    66    717    804
광주서부경찰서   발생건수   2  11      174  1417   2288   3892
광주서부경찰서   검거건수   3  11      158   963   1994   3129
광주서부경찰서   검거인원   3  13      169   894   2874   3953
광주서부경찰서     구속   3   6        7    22     18     56
광주서부경찰서    불구속   0   4       92   749   1301   2146
광주서부경찰서     기타   0   3       70   123   1555   1751
광주남부경찰서   발생건수   1   4       64   768   1028   1865
광주남부경찰서   검거건수   1   4       54   544    883   1486
광주남부경찰서   검거인원   1   5       55   348   1198   1607
광주남부경찰서     구속   1   4        2    12      2     21
광주남부경찰서    불구속   0   1       38   264    599    902
광주남부경찰서     기타   0   0       15    72    597    684
광주북부경찰서   발생건수   6   7      205  1788   2142   4148
광주북부경찰서   검거건수   5   8      158  1156   1906   3233
광주북부경찰서   검거인원   6  10      178   933   2700   3827
광주북부경찰서     구속   3   6        1    50     13     73
광주북부경찰서    불구속   2   4      135   759   1402   2302
광주북부경찰서     기타   1   0       42   124   1285   1452
광주광산경찰서   발생건수   5  17      175  1247   1999   3443
광주광산경찰서   검거건수   5  17      147   898   1798   2865
광주광산경찰서   검거인원   6  16      147   723   2382   3274
광주광산경찰서     구속   4   7       14    31      7     63
광주광산경찰서    불구속   1   9       85   620   1125   1840
광주광산경찰서     기타   1   0       48    72   1250   1371

In [779]:
df2017 ## 보시면 실행시켜도 아무것도 안나오죠? 아무것도 안담겨 있어요
# 데이터 만지다가 사라진거 같은데 이럴 땐 데이터 다시 불러와서 처리해주셔야 합니다!

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

In [780]:
df2017['총계']=df2017.sum(axis=1)
df2017

            구분  살인  강도  강간·강제추행    절도     폭력     총계
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366  13949
광주지방경찰청계  검거건수   9  32      732  3487   7553  11813
광주지방경찰청계  검거인원  10  61      824  3046  11018  14959
광주지방경찰청계    구속   8  28       71   115     88    310
광주지방경찰청계   불구속   0  26      523  2493   5235   8277
광주지방경찰청계    기타   2   7      230   438   5695   6372
광주동부경찰서   발생건수   3   5       77   624   1090   1799
광주동부경찰서   검거건수   3   5       70   470    953   1501
광주동부경찰서   검거인원   4   4       76   483   1538   2105
광주동부경찰서     구속   2   3        2    19      9     35
광주동부경찰서    불구속   0   1       57   395    801   1254
광주동부경찰서     기타   2   0       17    69    728    816
광주서부경찰서   발생건수   0   7      196  1142   2293   3638
광주서부경찰서   검거건수   0   7      172   708   2065   2952
광주서부경찰서   검거인원   0  23      188   708   2971   3890
광주서부경찰서     구속   0   8        6    20     31     65
광주서부경찰서    불구속   0  15      123   582   1356   2076
광주서부경찰서     기타   0   0       59   106   1584   1749
광주남부경찰서   발생건수   0   4       68   577    898   1547
광주남부경찰서   검거건수   0   4       51   522    799   1376
광주남부경찰서   검거인원   0   5       47   363   1107   1522
광주남부경찰서     구속   0   2        1    18      1     22
광주남부경찰서    불구속   0   2       29   271    591    893
광주남부경찰서     기타   0   1       17    74    515    607
광주북부경찰서   발생건수   3   5      215  1546   2176   3945
광주북부경찰서   검거건수   3   5      204  1127   1997   3336
광주북부경찰서   검거인원   3   6      260   898   2863   4030
광주북부경찰서     구속   3   4       39    33     22    101
광주북부경찰서    불구속   0   0      159   730   1314   2203
광주북부경찰서     기타   0   2       62   135   1527   1726
광주광산경찰서   발생건수   3  12      169   927   1909   3020
광주광산경찰서   검거건수   3  10      144   660   1702   2519
광주광산경찰서   검거인원   3  22      148   594   2390   3157
광주광산경찰서     구속   3  11        6    25     18     63
광주광산경찰서    불구속   0   7      102   515   1104   1728
광주광산경찰서     기타   0   4       40    54   1268   1366

In [781]:
#'구분' 컬럼에 '발생건수'데이터만 가져와보기
df2015['구분']=='발생건수'

관서명
광주지방경찰청계     True
광주지방경찰청계    False
광주지방경찰청계    False
광주지방경찰청계    False
광주지방경찰청계    False
광주지방경찰청계    False
광주동부경찰서      True
광주동부경찰서     False
광주동부경찰서     False
광주동부경찰서     False
광주동부경찰서     False
광주동부경찰서     False
광주서부경찰서      True
광주서부경찰서     False
광주서부경찰서     False
광주서부경찰서     False
광주서부경찰서     False
광주서부경찰서     False
광주남부경찰서      True
광주남부경찰서     False
광주남부경찰서     False
광주남부경찰서     False
광주남부경찰서     False
광주남부경찰서     False
광주북부경찰서      True
광주북부경찰서     False
광주북부경찰서     False
광주북부경찰서     False
광주북부경찰서     False
광주북부경찰서     False
광주광산경찰서      True
광주광산경찰서     False
광주광산경찰서     False
광주광산경찰서     False
광주광산경찰서     False
광주광산경찰서     False
Name: 구분, dtype: bool

In [782]:
#  df2015(불리언 인덱싱 결과)

In [783]:
s1=df2015[df2015['구분']=='발생건수']
s1

            구분  살인  강도  강간·강제추행    절도    폭력     총계
관서명
광주지방경찰청계  발생건수  18  44      750  8425  9593  18830
광주동부경찰서   발생건수   3   5       92  1100  1155   2355
광주서부경찰서   발생건수   5  10      172  2050  2483   4720
광주남부경찰서   발생건수   1   3       70   962  1081   2117
광주북부경찰서   발생건수   5  14      256  2570  2621   5466
광주광산경찰서   발생건수   4  12      160  1743  2253   4172

In [784]:
s2=df2016[df2016['구분']=='발생건수']
s2

            구분  살인  강도  강간·강제추행    절도    폭력     총계
관서명
광주지방경찰청계  발생건수  17  47      701  6052  8599  15416
광주동부경찰서   발생건수   3   8       83   832  1142   2068
광주서부경찰서   발생건수   2  11      174  1417  2288   3892
광주남부경찰서   발생건수   1   4       64   768  1028   1865
광주북부경찰서   발생건수   6   7      205  1788  2142   4148
광주광산경찰서   발생건수   5  17      175  1247  1999   3443

In [785]:
s3=df2017[df2017['구분']=='발생건수']
s3

            구분  살인  강도  강간·강제추행    절도    폭력     총계
관서명
광주지방경찰청계  발생건수   9  33      725  4816  8366  13949
광주동부경찰서   발생건수   3   5       77   624  1090   1799
광주서부경찰서   발생건수   0   7      196  1142  2293   3638
광주남부경찰서   발생건수   0   4       68   577   898   1547
광주북부경찰서   발생건수   3   5      215  1546  2176   3945
광주광산경찰서   발생건수   3  12      169   927  1909   3020

In [786]:
s1.loc[:,'총계']

관서명
광주지방경찰청계    18830
광주동부경찰서      2355
광주서부경찰서      4720
광주남부경찰서      2117
광주북부경찰서      5466
광주광산경찰서      4172
Name: 총계, dtype: int64

In [787]:
#'구분' 컬럼에서 '발생건수'인 테이터만 불리언 인덱싱 된 DataFrame
#'총계' 컬럼만 loc해오기
su1=s1.loc[:,'총계']
su1

관서명
광주지방경찰청계    18830
광주동부경찰서      2355
광주서부경찰서      4720
광주남부경찰서      2117
광주북부경찰서      5466
광주광산경찰서      4172
Name: 총계, dtype: int64

In [788]:
su2=s2.loc[:,'총계']
su2

관서명
광주지방경찰청계    15416
광주동부경찰서      2068
광주서부경찰서      3892
광주남부경찰서      1865
광주북부경찰서      4148
광주광산경찰서      3443
Name: 총계, dtype: int64

In [789]:
su3=s3.loc[:,'총계']
su3

관서명
광주지방경찰청계    13949
광주동부경찰서      1799
광주서부경찰서      3638
광주남부경찰서      1547
광주북부경찰서      3945
광주광산경찰서      3020
Name: 총계, dtype: int64

In [792]:
#범죄 증감율 계산하기
#증감율=(금년-작년)/작견*100
#2015~2016증감율
c1=(su2-su1)/su1*100
c1

관서명
광주지방경찰청계   -18.130643
광주동부경찰서    -12.186837
광주서부경찰서    -17.542373
광주남부경찰서    -11.903637
광주북부경찰서    -24.112697
광주광산경찰서    -17.473634
Name: 총계, dtype: float64

In [793]:
c2=(su3-su2)/su2*100
c2

관서명
광주지방경찰청계    -9.516087
광주동부경찰서    -13.007737
광주서부경찰서     -6.526208
광주남부경찰서    -17.050938
광주북부경찰서     -4.893925
광주광산경찰서    -12.285797
Name: 총계, dtype: float64

In [796]:
c1.name='2015-2016증감율'
c2.name='2016-2017증감율'

In [797]:
c1

관서명
광주지방경찰청계   -18.130643
광주동부경찰서    -12.186837
광주서부경찰서    -17.542373
광주남부경찰서    -11.903637
광주북부경찰서    -24.112697
광주광산경찰서    -17.473634
Name: 2015-2016증감율, dtype: float64

In [798]:
c2

관서명
광주지방경찰청계    -9.516087
광주동부경찰서    -13.007737
광주서부경찰서     -6.526208
광주남부경찰서    -17.050938
광주북부경찰서     -4.893925
광주광산경찰서    -12.285797
Name: 2016-2017증감율, dtype: float64

In [799]:
#데이터 합치기
#Series의 name값이 DataFrame에서 colum값으로 사용됨.
total=pd.concat([su1,c1,su2,c2,su3],axis=1)
total

             총계  2015-2016증감율     총계  2016-2017증감율     총계
관서명
광주지방경찰청계  18830    -18.130643  15416     -9.516087  13949
광주동부경찰서    2355    -12.186837   2068    -13.007737   1799
광주서부경찰서    4720    -17.542373   3892     -6.526208   3638
광주남부경찰서    2117    -11.903637   1865    -17.050938   1547
광주북부경찰서    5466    -24.112697   4148     -4.893925   3945
광주광산경찰서    4172    -17.473634   3443    -12.285797   3020

In [800]:
#3개다 총계여서 수정해야함
#DataFrame 컬럼명 수정하기
total.columns

Index(['총계', '2015-2016증감율', '총계', '2016-2017증감율', '총계'], dtype='object')

In [805]:
total.columns=['2015총계','2015-2016증감율','2016총계','2016-2017증감울','2017총계']
total.columns

Index(['2015총계', '2015-2016증감율', '2016총계', '2016-2017증감울', '2017총계'], dtype='object')

In [804]:
#df.rename(columns={'원래 컬럼명':'바꿀컬럼명'})  >>딕셔너리 형태
#컬럼 값이 중복되면 원래 컬럼명에 따라 모두 수정됨
total.rename(columns={'총계':'2016총계'})

          2015총계  2015-2016증감율  2016총계  2016-2017증감울  2017총계
관서명
광주지방경찰청계   18830    -18.130643   15416     -9.516087   13949
광주동부경찰서     2355    -12.186837    2068    -13.007737    1799
광주서부경찰서     4720    -17.542373    3892     -6.526208    3638
광주남부경찰서     2117    -11.903637    1865    -17.050938    1547
광주북부경찰서     5466    -24.112697    4148     -4.893925    3945
광주광산경찰서     4172    -17.473634    3443    -12.285797    3020